Explain with an example each when to use a for loop and a while loop.

soln.   The for loop is used when we already know the number of iterations, which means when we know how many times a statement has to be executed and
 "While" Loop is used to repeat a specific block of code an unknown number of times, until a condition is met

Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [2]:
sum=0
for i in range(11):
    sum=sum+i
print("sum of the first 10 natural numbers = ",sum)

sum of the first 10 natural numbers =  55

In [2]:
i=1
sum=0
while i<=10:
    sum+=i
    i+=1
print("sum of the first 10 natural numbers = ",sum)

sum of the first 10 natural numbers =  55

while/for for multi........

In [3]:
i=1
m=1
while i<=10:
    m*=i
    i+=1
print("sum of the first 10 natural numbers = ",m)

sum of the first 10 natural numbers =  3628800

In [4]:
m=1
for i in range(1,11):
    m=m*i
print("product of the first 10 natural numbers = ",m)

product of the first 10 natural numbers =  3628800

Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [12]:
unit=int(input("Enter the unit /n To get your electricity bill "))
if unit<=100:
    print("amount to pay = ",unit*4.5)
elif unit>100 and unit<=200:
    print("amount to pay = ",100*4.5+(unit-100)*6)
elif unit>200 and unit<=300:
    print("amount to pay = ",100*4.5+100*6+(unit-200)*10)
else :
    print("amount to pay = ",100*4.5+100*6+100*10+(unit-300)*20)

Enter the unit /n To get your electricity bill  310

amount to pay =  2250.0

Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [25]:
l=[]
l1=[]
for i in   range(101):
    l.append(i**3)
    if i%4==0 or i%5==0:
        l1.append(i)
print(l1)

[0, 4, 5, 8, 10, 12, 15, 16, 20, 24, 25, 28, 30, 32, 35, 36, 40, 44, 45, 48, 50, 52, 55, 56, 60, 64, 65, 68, 70, 72, 75, 76, 80, 84, 85, 88, 90, 92, 95, 96, 100]

In [ ]:
l=[]
l1=[]
i=1
while i<=100:
    l.append(i**3)
    if i%4==0 or i%5==0:
        l1.append(i)
        i+=1
print(l1)

In [ ]:
l1

Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [7]:
l=[]
c=0
string = "I want to become a data scientist"
for i in string:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        c+=1
print("There are ",c,"vowel in string ")

There are  11 vowel in string